@import url('https://fonts.googleapis.com/css?family=Alegreya');
body {
  background: #5AA084;
  margin: 0 auto;
  font-family: 'Alegreya', serif;
}

.parallax {
  /* The image used */
  background: url(img/IMG_1532.JPG);
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #5AA083;
}

a:hover {
  color: blue;
  transform: scale(1.1);
}

.container {}

.container-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid black;
  color: #5AA084;
  grid-gap: .5em;
  margin: 3em;
  padding: 1em;
  text-align: center;
  background: #FBFEFD;
  font-size: .9em;
}

.about-me {
  border: 1px solid black;
  height: 15em;
  width: 32em;
  padding: 1em;
  background: black;
  color: #BADDCF
}

.about-me-list {
  background: #BADDCF;
  color: #5AA083;
  padding: 1em;
  width: 30em;
}

.projects {
  border: 1px solid black;
  height: 60em;
  width: 32em;
  padding: 1em;
  background: black;
  color: #BADDCF;
}

.project-item {
  background: #BADDCF;
  color: #5AA083;
  padding: 1em;
  width: 32em;
  margin: 1em;
}

.project-item:hover {
  transform: scale(1.2);
  border: 1px solid black;
}

.resources {
  border: 1px solid black;
  height: 15em;
  width: 32em;
  padding: .8em;
  background: black;
  color: #BADDCF;
  margin-top: 1em;
}

.resource-item {
  background: #BADDCF;
  color: #5AA083;
  padding: 1em;
  width: 28em;
  height: 4em;
  margin: 1em;
}
